body{
    margin: 0px;
    padding: 0px;
    font-family: "Cabin", sans-serif;
    color: fff;
}
/*html{
    scroll-behavior: smooth;
    scroll-padding: 90px;

}*/

/*dos puntos seudo clase*/
:root{
     --main-bg-color:#040404;

}
.navbar{
    background: var(--main-bg-color);
    
}
.navbar-brand img{
    height: 2.5rem;
    
}

.navbar-nav{
    margin-right: 150px;
}
nav img {
    width: 30px;
    margin-right: 5px;
}
.parrafo1{
    background-color: #2e99bc;
}
.fa-brands {
    color: aliceblue;
}
footer {
    background-color: #2e99bc;
    color: #ffffff;
    padding: 30px;
    
    
    
}




