body{
    margin: 0px;
    padding: 0px;
    font-family: "Cabin", sans-serif;
    color: fff;
    padding-top: 5px;
    
}
html{
    scroll-behavior: smooth;
    scroll-padding: 70px;

}

/*dos puntos seudo clase*/
:root{
     --main-bg-color:#040404;

}
.navbar{
    
    
    background-color: rgb(255, 255, 255, 0.9) !important;
    
}
.navbar-brand img{
    height: 2.5rem;
    
}

.navbar-nav{
    margin-right: 150px;
    
}
nav img {
    width: 30px;
    margin-right: 5px;
}
.parrafo_quienes{
    background-color: #2e99bc;
}
.fa-brands {
    color: aliceblue;
}
footer {
    background-color: #2e99bc;
    color: #ffffff;
    padding: 30px;
     
}

